* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #090B0D;
}

#info {
    display: none;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

form {
    margin: auto;
    border: 1px solid #6D8086;
    padding: 25px;
}

h1 {
    margin-bottom: 25px;
}

hr {
    margin-bottom: 25px;
}


h1, label, p, input, button, hr {
    color: #6D8086; 
}

input, button[type="submit"] {
    width: 100%;
    padding: 15px;
    margin: 20px 0 22px 0;
    border: none;
    background-color: #f1f1f1;
}

button[type="submit"] {
    margin: 40px 0;
}

input:focus {
    background-color: #ddd;
    outline: none;
}